.Parent{
    background-color: bisque;
    padding: 15px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    
    
    
}
.Father{
    background-color: rgb(17, 198, 44);
    padding: 15px;
    display: flex;
    gap: 30px;
    justify-content:space-around;
    height: 350px;
    align-items: start;
}

.child{
    border: 2px solid rgb(73, 97, 35);
    background-color: aqua;
    padding: 20px;
    font-size: 28px;
    
}

.son{
    border: 2px solid rgb(73, 97, 35);
    background-color: aqua;
    padding: 20px;
    font-size: 28px;
    
}

.boy{
    border: 2px solid rgb(73, 97, 35);
    background-color: aqua;
    margin: 10px 0;
    padding: 20px;
    font-size: 28px;
}